<!doctype html>
<html lang='en' dir='ltr'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/bootstrap.min.css') }}'>
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/fontawesome-all.min.css') }}'>
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/plugins/jquery-ui-1.12.1/jquery-ui.min.css') }}'>
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/jquery.smartmenus.bootstrap-4.css') }}'>
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/fullcalendar/fullcalendar.min.css') }}'>
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/fullcalendar/fullcalendar.print.min.css') }}' media='print'>
		{% block formcss %}{% endblock %}
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/custom.css') }}'>
		{% block headtitle %}
		<title>{% if title %}{{ title }}{% else %}Sanic Engine{% endif %}</title>
		{% endblock %}
		{% block endhead %}
		{% endblock %}
	</head>
{% block body %}
<body>
	{% block mainblock %}
	<div class='wrapper'>
		<main role='main' class='container'>
		{% if request.session.flashmessage %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				{{ request.session.pop('flashmessage',None) }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}
		{% block content %}
			<h1>Sanic Engine</h1>
		{% endblock %}
		</main>
	</div>
	{% endblock %}
	{% block standardjs %}
	<script src='{{ app.url_for('static', filename='/js/jquery-3.3.1.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/popper.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/bootstrap.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/plugins/jquery-ui-1.12.1/jquery-ui.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/plugins/jquery-ui-1.12.1/jquery.ui.touch-punch.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/jquery.smartmenus.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/jquery.smartmenus.bootstrap-4.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/fullcalendar/moment.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/fullcalendar/fullcalendar.min.js')}}'></script>
	{% block js %}{% endblock %}
	{% endblock %}
	{% block endbody %}
	{% endblock %}
	<script src='{{ app.url_for('static', filename='/js/custom.js')}}'></script>
</body>
{% endblock %}
</html>
