sanic
Jinja2
psycopg2-binary
sqlalchemy
GeoAlchemy2
databases[postgresql]
alembic
wtforms
-e git://github.com/miki725/sqlalchemy-paginator.git#egg=sqlalchemy-paginator
sanic_session
cryptography
openpyxl
aiosmtplib
apscheduler
sqlalchemy_mptt
google-auth
requests
pillow
selenium
XlsxWriter
