{% extends "formbase.html" %}
{% block form_css %}
	{{ super() }}
    <style type="text/css" media="screen">
    #editorwrap {
	position: relative;
	height: 500px;
    }
    #contenteditor { 
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    }
</style>
{% endblock %}
{% block content %}
<h1>
	{% if title %}
	{{ title }}
	{% else %}
	Form
	{% endif %}
</h1>
<form id='pageform' method='POST' {% if enctype %}enctype='{{enctype}}'{% endif %}>
{% for field in form %}
	<div class='form-group row'>
	{% if field.name=='content' %}
	{{ field.label(class_='col-sm-2 col-form-label',data_html="true",data_toggle="tooltip",title="""Available blocks:
	head_start
	layout_css
		form_css
		page_css
	title
	head_end
	layout_body
		body
			body_start
			mainblock
				content
		layout_js
			form_js
			page_js
			custom_js
		body_end
	""") }}
	{% else %}
	{{ field.label(class_='col-sm-2 col-form-label') }}
	{% endif %}
	{% if field.name!='content' %}
		{% if field.type=='BooleanField' %}
			<div class="{{'col-sm-10 is-invalid' if field.errors else 'col-sm-10'}}">
			{{ field() }}
			</div>
		{% elif field.type=='DateField' %}
			{{ field(class_='col-sm-10 form-control is-invalid date-picker' if field.errors else 'col-sm-10 form-control date-picker') }}
		{% else %}
			{{ field(class_='col-sm-10 form-control is-invalid' if field.errors else 'col-sm-10 form-control') }}
		{% endif %}
	{% else %}
		<div id='editorwrap' class='col-sm-10'>
		<div id='contenteditor' class='form-control'>{% if form.content.data %}{{ form.content.data|e }}{% endif %}</div>
		</div>
		<input type='hidden' name='content' id='content'>
	{% endif %}
	{% if field.errors %}
	{% for error in field.errors %}
	<div class='offset-sm-2 invalid-feedback'>{{ error }}</div>
	{% endfor %}
	{% endif %}
</div>
{% endfor %}
<input type='submit' name='submit' value='Submit'/>
{% if submitcontinue %}
<input type='submit' name='submit' value='Update'/>
{% endif %}
</form>
{% endblock %}
{% block form_js %}
	{{ super() }}
	<script type='text/javascript'>
	$(document).ready(function(){
		$('[data-toggle="tootltip"]').tooltip();
		var editor = ace.edit("contenteditor");
		editor.setTheme("ace/theme/xcode");
		{% if page.runable %}
			editor.session.setMode("ace/mode/python");
		{% else %}
			editor.session.setMode("ace/mode/html");
		{% endif %}
	
		$('#runable').on('change',function(){
			if($('#runable').prop("checked")){
				editor.session.setMode("ace/mode/python");
			}
			else{
				editor.session.setMode("ace/mode/html");
			}
		});
		$('#pageform').on('submit',function(){
			$('#content').val(editor.getValue());
		});

		$('#editorwrap').resizable({
			resize: function(event, ui){
				editor.resize();
			}
		});

		{% if 'user' in form %}
			$('input#user').tokenInput('{{ app.url_for('users.userjson') }}',{tokenLimit:1{% if userdata %},prePopulate:[{id:{{ userdata.id }},name:"{{ userdata.name }}"}]{% endif %}});
		{% endif %}
		{% if 'module' in form and modules and curuser and not curuser.superuser %}
		$('input#module').tokenInput([{% for module in modules %}{id:'{{module}}',name:'{{module}}'},{% endfor %}],{tokenLimit:1{% if form.module.data %},prePopulate:[{id:'{{form.module.data}}',name:'{{form.module.data}}'}]{% endif %}});
		{% endif %}
		{% if tokeninput %}
			{% for key,input in tokeninput.items() %}
				$('input#{{key}}').tokenInput('{{ input.url }}',{ {% if input.prePopulate %}prePopulate:[{% for data in input.prePopulate %}{id:{{ data.id }},name:"{{ data.name }}"},{% endfor %}]{% endif %}});
			{% endfor %}
		{% endif %}
	});
	</script>
{% endblock %}
