{% extends "layout.html" %}
{% block endhead %}
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/token-input.css') }}'>
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/token-input-facebook.css') }}'>
{% endblock %}
{% block content %}
<h1>
	{% if title %}
	{{ title }}
	{% else %}
	Form
	{% endif %}
</h1>
<form method='POST' {% if enctype %}enctype='{{enctype}}'{% endif %}>
{% for field in form %}
<div class='form-group row'>
	{{ field.label(class_='col-sm-2 col-form-label') }}
{% if field.type=='BooleanField' %}
<div class="{{'col-sm-10 is-invalid' if field.errors else 'col-sm-10'}}">
	{{ field() }}
</div>
{% elif field.type=='DateField' %}
	{{ field(class_='col-sm-10 form-control is-invalid date-picker' if field.errors else 'col-sm-10 form-control date-picker') }}
{% else %}
	{{ field(class_='col-sm-10 form-control is-invalid' if field.errors else 'col-sm-10 form-control') }}
{% endif %}
	{% if field.errors %}
	{% for error in field.errors %}
	<div class='offset-sm-2 invalid-feedback'>{{ error }}</div>
	{% endfor %}
	{% endif %}
</div>
{% endfor %}
<input type='submit' name='submit' value='Submit'/>
{% if submitcontinue %}
<input type='submit' name='submit' value='Update'/>
{% endif %}
</form>
{% endblock %}
{% block endbody %}
	<script src='{{ app.url_for('static', filename='/js/jquery.tokeninput.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/plugins/air-datepicker/dist/js/datepicker.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/plugins/air-datepicker/dist/js/i18n/datepicker.en.js')}}'></script>
	<script type='text/javascript'>
		$(document).ready(function(){
			{% if 'user' in form %}
			$('input#user').tokenInput('{{ app.url_for('users.userjson') }}',{tokenLimit:1{% if userdata %},prePopulate:[{id:{{ userdata.id }},name:"{{ userdata.name }}"}]{% endif %}});
			{% endif %}
			{% if tokeninput %}
			{% for key,input in tokeninput.items() %}
			$('input#{{key}}').tokenInput('{{ input.url }}',{ {% if input.prePopulate %}prePopulate:[{% for data in input.prePopulate %}{id:{{ data.id }},name:"{{ data.name }}"},{% endfor %}]{% endif %}});
			{% endfor %}
			{% endif %}
		});
	</script>
{% endblock %}
