{% extends "formbase.html" %}
{% block content %}
<h1>
	{% if title %}
	{{ title }}
	{% else %}
	Form
	{% endif %}
</h1>
<form method='POST' {% if enctype %}enctype='{{enctype}}'{% endif %}>
{% for field in form %}
<div class='form-group row'>
	{{ field.label(class_='col-sm-2 col-form-label') }}
{% if field.type=='BooleanField' %}
<div class="{{'col-sm-10 is-invalid' if field.errors else 'col-sm-10'}}">
	{{ field() }}
</div>
{% elif field.type=='DateField' %}
	{{ field(class_='col-sm-10 form-control is-invalid date-picker' if field.errors else 'col-sm-10 form-control date-picker') }}
{% elif field.name=='datastr' %}
<div id='datastreditor' class='col-sm-10 form-control' style='height: 100px;'>{{ form.datastr.data|e }}</div>
<input type='hidden' name='datastr' id='datastr'>
{% else %}
	{{ field(class_='col-sm-10 form-control is-invalid' if field.errors else 'col-sm-10 form-control') }}
{% endif %}
	{% if field.errors %}
	{% for error in field.errors %}
	<div class='offset-sm-2 invalid-feedback'>{{ error }}</div>
	{% endfor %}
	{% endif %}
</div>
{% endfor %}
<input type='submit' name='submit' value='Submit'/>
{% if submitcontinue %}
<input type='submit' name='submit' value='Update'/>
{% endif %}
</form>
{% endblock %}
{% block endbody %}
	<script type='text/javascript'>
		$(document).ready(function(){
			{% if 'user' in form %}
			$('input#user').tokenInput('{{ app.url_for('users.userjson') }}',{tokenLimit:1{% if userdata %},prePopulate:[{id:{{ userdata.id }},name:"{{ userdata.name }}"}]{% endif %}});
			{% endif %}
			{% if tokeninput %}
			{% for key,input in tokeninput.items() %}
			$('input#{{key}}').tokenInput('{{ input.url }}',{ {% if input.prePopulate %}prePopulate:[{% for data in input.prePopulate %}{id:{{ data.id }},name:"{{ data.name }}"},{% endfor %}]{% endif %}});
			{% endfor %}
			{% endif %}
		});

	{% if 'datastr' in form %}
		function IsJsonString(str) {
		    try {
			JSON.parse(str);
		    } catch (e) {
			return false;
		    }
		    return true;
		}
		var editor = ace.edit("datastreditor");
		editor.setTheme("ace/theme/xcode");
		editor.session.setMode("ace/mode/json");
		editor.getSession().on('change', function() {
			if(IsJsonString(editor.getValue())){
				$('#datastr').val(editor.getValue());
			}
		});
	{% endif %}
	</script>
{% endblock %}
