{% extends "layout.html" %}
{% block endhead %}
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/token-input.css') }}'>
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/token-input-facebook.css') }}'>
{% endblock %}
{% block content %}
<h1>
	{% if title %}
	{{ title }}
	{% else %}
	Form
	{% endif %}
</h1>
<form method='POST' {% if enctype %}enctype='{{enctype}}'{% endif %}>
{% for field in form %}
<div class='form-group row'>
	{{ field.label(class_='col-sm-2 col-form-label') }}
	{{ field(class_='col-sm-10 form-control is-invalid' if field.errors else 'col-sm-10 form-control') }}
	{% if field.errors %}
	{% for error in field.errors %}
	<div class='offset-sm-2 invalid-feedback'>{{ error }}</div>
	{% endfor %}
	{% endif %}
</div>
{% endfor %}
<input type='submit' value='Submit'/>
</form>
{% endblock %}
{% block endbody %}
	<script src='{{ app.url_for('static', filename='/js/jquery.tokeninput.js')}}'></script>
	<script type='text/javascript'>
		$(document).ready(function(){
			$('input#user').tokenInput('{{ app.url_for('users.userjson') }}',{tokenLimit:1{% if userdata %},prePopulate:[{id:{{ userdata.id }},name:"{{ userdata.name }}"}]{% endif %}});
		});
	</script>
{% endblock %}
