{% extends "layout.html" %}
{% block content %}
	<div class="card col-sm-6 offset-sm-3">
		<img class='card-img-top' src="{{ app.url_for('static',filename='images/login-img.png')}}" alt="login">
		<h2 class="card-title text-center mb-30">Forgot Password</h2>
		<form method='post'>
			<p class='card-text'>Enter your email address to reset your password</p>
			<div class="card-body input-group custom input-group-lg">
				<input name='email' id='email' type="text" class="form-control" placeholder="Email">
				<div class="input-group-append custom">
					<span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class='row card-body'>
				<div class='col-sm-6'>
					<div class='input-group'>
						<input class="btn btn-primary btn-block btn-primary btn-lg" type="submit" value="Submit">
					</div>
				</div>
				<div class='col-sm-6'>
					<div class='input-group'>
						<a href="{{ app.url_for('users.login') }}" class="btn btn-block">Sign In</a>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
