{% extends "layout.html" %}
{% block content %}
<h1>Data Update</h1>
<h2>{{tracker.title}}</h2>
<form method='POST' enctype='multipart/form-data'>
	{% if columns|length %}
	<input type='hidden' name='dataupdate_id' value='{{dataupdate.id}}'/>
	<table class='table'>
		<tr><th>Field</th><th>Column</th><th>Custom</th></tr>
		{% for field in tracker.fields %}
		{% if field.name!='id' %}
		<tr>
			<td>{{field.name}}</td>
			<td>
				<select name='{{field.name}}_column'>
		{% for column in columns %}
		<option value='{{column.field_val}}' {% if column.field_name|replace(' ','_')|lower == field.name %}selected{% endif %}>{{column.field_name}}</option>
		{% endfor %}
				</select>
			</td>
			<td>
				<input type='text' name='{{field.name}}_custom'>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% else %}
<div class="form-group row">
	<label class="col-sm-2 col-form-label" for="excelfile">Excel File</label>
	<input class="col-sm-10 form-control" id="excelfile" name="excelfile" type="file">
</div>
	{% endif %}
<input type='submit' value='Submit' class='btn btn-primary'>
</form>
{% endblock %}
