{% extends "layout.html" %}
{% from 'trackers/macros.html' import transitionform %}
{% block content %}
{% if record %}
<h1>Edit {{ tracker.title }}</h1>
{% else %}
<h1>Add {{ tracker.title }}</h1>
{% endif %}
{% if transition %}
{% if record %}
{{ transitionform(transition,record) }}
{% else %}
{{ transitionform(transition) }}
{% endif %}
{% endif %}
{% endblock %}
{% block endbody %}
{% set ns = namespace(gotdate = false,gottoken = false) %}
{% for field in transition.edit_fields_list() %}
{% if field.field_type=='date' %}
{% if not ns.gotdate %}
{% set ns.gotdate = true %}
<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/bootstrap-datepicker.css') }}'>
<script src='{{ app.url_for('static', filename='/js/bootstrap-datepicker.min.js')}}'></script>
{% endif %}
<script>
$('#{{field.name}}').datepicker({
	format:'yyyy-mm-dd',
	todayBtn:true,
	zIndexOffset: 1000,
	orientation:'bottom',
	autoclose:true,
	container:'#div_{{field.name}}',
});
</script>
{% endif %}
{% if field.field_type in ['object','user'] %}
{% if not ns.gottoken %}
{% set ns.gottoken = true %}
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/token-input.css') }}'>
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/css/token-input-facebook.css') }}'>
	<script src='{{ app.url_for('static', filename='/js/jquery.tokeninput.js')}}'></script>
{% endif %}
<script> 
$('input#{{field.name}}').tokenInput('{{ app.url_for('trackers.fieldjson',slug=tracker.slug,field_id=field.id) }}',{ tokenLimit: 1 {% if record and record[field.name] %}, prePopulate:[{id:{{record[field.name]}},name:"{{field.disp_value(record[field.name])}}"}]{% endif %}});
</script> 
{% endif %}
{% endfor %}
{% if transition.edit_fields and transition.edit_fields|length == 0 %}
<script>
$('#trackerform').submit();
</script>
{% endif %}
{% endblock %}
