{% extends "layout.html" %}
{% block content %}
<h1>Tracker</h1>
<h2>{{tracker.title}}</h2>
<ul class="nav nav-tabs">
  <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#details">Details</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#fields">Fields</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#statuses">Statuses</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#roles">Roles</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#transitions">Transitions</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pages">Pages</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#dataupdates">Data Updates</a></li>
</ul>

<div class="tab-content">
  <div id="details" class="tab-pane fade in show active">
    <h3>Details</h3>
    <a href='{{ app.url_for('trackers.edit') }}/{{ tracker.id }}' class='btn btn-primary'>Edit</a>
    <a href='{{ app.url_for('trackers.updatedb',id=tracker.id) }}' class='btn btn-primary'>Update DB</a>
    <a href='{{ app.url_for('trackers.viewlist',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>View Tracker</a>
    <a href='{{ app.url_for('trackers.create_from_excel',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>From Excel</a>
    <a href='{{ app.url_for('trackers.runupdate',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>Run Update</a>
    <form style='display: inline;' method='post' action='{{ app.url_for('trackers.delete', module=tracker.module,slug=tracker.slug) }}' onsubmit='return confirm("Delete tracker {{ tracker.title }}");'><input type='submit' class="btn btn-primary" value='Delete' ></form>
	<dl>
		<dt>Title</dt>
		<dd>{{tracker.title}}</dd>
		<dt>Slug</dt>
		<dd>{{tracker.slug}}</dd>
		<dt>Module</dt>
		<dd>{{tracker.module}}</dd>
		<dt>Page Limit</dt>
		<dd>{{tracker.pagelimit}}</dd>
		<dt>List Fields</dt>
		<dd>{{tracker.list_fields}}</dd>
		<dt>Search Fields</dt>
		<dd>{{tracker.search_fields}}</dd>
		<dt>Filter Fields</dt>
		<dd>{{tracker.filter_fields}}</dd>
		<dt>Require Login</dt>
		<dd>{{tracker.require_login}}</dd>
		<dt>Allowed Roles</dt>
		<dd>{{tracker.allowed_roles}}</dd>
	</dl>
  </div>
  <div id="fields" class="tab-pane fade">
    <h3>Fields</h3>
    <a href='{{ app.url_for('trackers.fieldform',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>Add</a>
    <table class='table'>
	    <tr><th>Name</th><th>Label</th><th>Type</th><th>Action</th></tr>
	    {% for field in tracker.fields %}
	    <tr>
		    <td><a href="{{ app.url_for('trackers.editfield',module=tracker.module,slug=tracker.slug) }}/{{field.id}}">{{field.name}}</a></td>
		    <td>{{field.label}}</td>
		    <td>{{field.field_type}}</td>
		    <td><form action='{{ app.url_for('trackers.deletefield',module=tracker.module,slug=tracker.slug,field_id=field.id) }}' method='POST'><input type='submit' value='Delete' onclick='return confirm("Confirm delete field {{field.label}}?")'></form></td>
	    </tr>
	    {% endfor %}
    </table>
  </div>
  <div id="statuses" class="tab-pane fade">
    <h3>Statuses</h3>
    <a href='{{ app.url_for('trackers.statusform',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>Add</a>
    <table class='table'>
	    <tr><th>Name</th><th>Display Fields</th><th>Action</th></tr>
	    {% for status in tracker.statuses %}
	    <tr>
		    <td><a href="{{ app.url_for('trackers.editstatus',module=tracker.module,slug=tracker.slug) }}/{{status.id}}">{{status.name}}</a></td>
		    <td>{{status.display_fields}}</td>
		    <td><form action='{{ app.url_for('trackers.deletestatus',module=tracker.module,slug=tracker.slug,status_id=status.id) }}' method='POST'><input type='submit' value='Delete' onclick='return confirm("Confirm delete status {{status.name}}?")'></form></td>
	    </tr>
	    {% endfor %}
    </table>
  </div>
  <div id="roles" class="tab-pane fade">
    <h3>Roles</h3>
    <a href='{{ app.url_for('trackers.roleform',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>Add</a>
    <table class='table'>
	    <tr><th>Name</th><th>Role Type</th><th>Compare</th><th>Action</th></tr>
	    {% for role in tracker.roles %}
	    <tr>
		    <td><a href="{{ app.url_for('trackers.editrole',module=tracker.module,slug=tracker.slug) }}/{{role.id}}">{{role.name}}</a></td>
		    <td>{{role.role_type}}</td>
		    <td>{{role.compare}}</td>
		    <td><form action='{{ app.url_for('trackers.deleterole',module=tracker.module,slug=tracker.slug,role_id=role.id) }}' method='POST'><input type='submit' value='Delete' onclick='return confirm("Confirm delete role {{role.name}}?")'></form></td>
	    </tr>
	    {% endfor %}
    </table>
  </div>
  <div id="transitions" class="tab-pane fade">
    <h3>Transitions</h3>
    <a href='{{ app.url_for('trackers.transitionform',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>Add</a>
    <table class='table'>
	    <tr><th>Name</th><th>Roles</th><th>Prev Status</th><th>Next Status</th><th>Display Fields</th><th>Edit Fields</th><th>Action</th></tr>
	    {% for transition in tracker.transitions %}
	    <tr>
		    <td><a href="{{ app.url_for('trackers.edittransition',module=tracker.module,slug=tracker.slug) }}/{{transition.id}}">{{transition.name}}</a></td>
		    <td>{{transition.roles|join(',')}}</td>
		    <td>{{transition.prev_status}}</td>
		    <td>{{transition.next_status}}</td>
		    <td>{{transition.display_fields}}</td>
		    <td>{{transition.edit_fields}}</td>
		    <td><form action='{{ app.url_for('trackers.deletetransition',module=tracker.module,slug=tracker.slug,transition_id=transition.id) }}' method='POST'><input type='submit' value='Delete' onclick='return confirm("Confirm delete transition {{transition.name}}?")'></form></td>
	    </tr>
	    {% endfor %}
    </table>
  </div>
  <div id="pages" class="tab-pane fade">
    <h3>Pages</h3>
    <a href='{{ app.url_for('pages.form') }}' class='btn btn-primary'>Add</a>
    <table class='table'>
	    <tr><th>Title</th><th>Slug</th><th>Action</th></tr>
	    {% for page in tracker.pages %}
	    <tr>
		    <td><a href="{{ app.url_for('pages.edit',module=page.module,slug=page.slug) }}/{{page.id}}">{{page.title}}</a></td>
		    <td>{{page.slug}}</td>
	    </tr>
	    {% endfor %}
    </table>
  </div>
  <div id="dataupdates" class="tab-pane fade">
    <h3>Data Updates</h3>
    <a href='{{ app.url_for('trackers.data_update',module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>Add</a>
    <table class='table'>
	    <tr><th>Created Date</th><th>File Name</th><th>Status</th><th>Action</th></tr>
	    {% for dataupdate in curupdatepage.object_list %}
	    <tr>
		    <td>{{dataupdate.created_date}}</td>
		    <td>{{dataupdate.filename}}</td>
		    <td>{{dataupdate.status}}</td>
		    <td><form action='{{ app.url_for('trackers.deleteupdate',module=tracker.module,slug=tracker.slug,update_id=dataupdate.id) }}' method='POST'><input type='submit' value='Delete' onclick='return confirm("Confirm delete data update {{dataupdate.created_date}}?")'></form></td>
	    </tr>
	    {% endfor %}
    </table>
<ul class="pagination">
	{% if curupdatepage.has_previous() %}
    <li class="page-item">
	    <a class="page-link" href="{{ request.path }}?updatepage={{curupdatepage.previous_page_number}}#dataupdates" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for cpage in updatespaginator %}
    <li class="page-item {% if 'updatepage' in request.args and cpage.number == request.args['updatepage'][0]|int %}active{% endif %}">
	    <a class="page-link" href="{{ request.path }}?updatepage={{cpage.number}}#dataupdates">{{cpage.number}}</a>
    </li>
    {% endfor %}
	{% if curupdatepage.has_next() %}
    <li class="page-item">
	    <a class="page-link" href="{{ request.path }}?updatepage={{curupdatepage.next_page_number}}#dataupdates" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
  </div>
</div>
{% endblock %}
{% block endbody %}
<script>
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#'+url.split('#')[1]+'"]').tab('show') ;
} 

// With HTML5 history API, we can easily prevent scrolling!
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    if(history.pushState) {
        history.pushState(null, null, e.target.hash); 
    } else {
        window.location.hash = e.target.hash; //Polyfill for old browsers
    }
})
</script>
{% endblock %}
