body {
	padding-top: 90px;
	background: #fff;
}

div.datepicker {
	z-index: 1500;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#navbar {
    box-shadow:-2px 0px 10px rgba(0, 0, 0, 0.4); 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    box-shadow:-2px 0px 10px rgba(0, 0, 0, 0.4); 
    padding: 10px;
    z-index: 1000;
    background: #fff;
    margin-top: -20px;
}

#sidebar li {
    background: #ffffff;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f078';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'fontawesome';
    font-size: 0.6em;
}

#sidebar a[aria-expanded="true"]::before {
    content: '\f077';
}

#sidebar li > ul > li a {
  padding-left: 26px !important;
}

#sidebar li > ul > li > ul > li a {
  padding-left: 42px !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.show {
        margin-left: 0;
    }
}

span.fa {
	width: 1.5em;
}

.dropdown .highlighted::before {
	display: none;
}

.mobile-logo {
	width: 30px;
}
