{% if node %}
<h1>{{ node.title }}</h1>
<div class='panel panel-default'>
	<div class='panel-body' style='padding: 10px;'>
		<dl class="dl-horizontal">	
			<dt>Slug</dt>
			<dd>{{node.slug}}</dd>
			<dt>Require Login</dt>
			<dd>{{node.require_login}}</dd>
			<dt>Allowed Roles</dt>
			<dd>{{node.allowed_roles}}</dd>
			<dt>Published</dt>
			<dd>{{node.published}}</dd>
			<dt>Publish Date</dt>
			<dd>{{node.publish_date}}</dd>
			<dt>Expire Date</dt>
			<dd>{{node.expire_date}}</dd>
			{% if node.users %}
			<dt>Users</dt>
			{% for user in node.users %}
			<dd>
			<a href='#' onclick='userform({{user.id}}); return false;'>{{ user.role }} : {{ user.user.name }}</a>
			<button onclick="if(confirm('Confirm delete user {{user.user.name}} with role {{user.role}}?')){ deleteuser({{user.node.id}},{{user.id}}); };" class='btn btn-danger btn-sm'>Delete</button>
			</dd>
			{% endfor %}
			{% endif %}
		</dl>
		<button class='btn btn-primary' id='editnode' onclick='editnode();'>Edit</button>
		<button class='btn btn-primary' id='adduser' onclick='userform();'>Add User</button>
	</div>
</div>
{% else %}
<h1>No node selected</h1>
{% endif %}
