{% if node %}
<h1>{{ node.title }}</h1>
<div class='panel panel-default'>
	<div class='panel-body' style='padding: 10px;'>
		<dl class="row">	
			<dt class='col-4'>Slug</dt>
			<dd class='col-8'>{{node.slug}}</dd>
			<hr>
			<dt class='col-4'>Category</dt>
			<dd class='col-8'>{{node.node_category}}</dd>
			<hr>
			<dt class='col-4'>Type</dt>
			<dd class='col-8'>{{node.node_type}}</dd>
			<hr>
			<dt class='col-4'>Require Login</dt>
			<dd class='col-8'>{{node.require_login}}</dd>
			<hr>
			<dt class='col-4'>Allowed Roles</dt>
			<dd class='col-8'>{{node.allowed_roles}}</dd>
			<hr>
			<dt class='col-4'>Published</dt>
			<dd class='col-8'>{{node.published}}</dd>
			<hr>
			<dt class='col-4'>Publish Date</dt>
			<dd class='col-8'>{{node.publish_date}}</dd>
			<hr>
			<dt class='col-4'>Expire Date</dt>
			<dd class='col-8'>{{node.expire_date}}</dd>
			<hr>
			{% if node.datastr %}
			<dt class='col-4'>Data</dt>
			<dd class='col-8'>
			<ul class='list-group list-group-flush'>
				{% for key,dat in node.data().items() %}
				<li class='list-group-item row'><span class='col-1'>{{ key }}</span> : <span class='col-3'>{{ dat }}</span></li>
				{% endfor %}
			</ul>
			</dd>
			{% endif %}
			{% if node.users %}
			<dt class='col-4'>Users</dt>
			<dd class='col-8'>
			<ol class='list-group list-group-flush'>
			{% for user in node.users %}
			<li class='list-group-item row'>
			<a href='#' class='col-1' onclick='userform({{user.id}}); return false;'>{{ user.role }} : {{ user.user.name }}</a>
			<button onclick="if(confirm('Confirm delete user {{user.user.name}} with role {{user.role}}?')){ deleteuser({{user.node.id}},{{user.id}}); };" class='btn btn-danger btn-sm col-3'>Delete</button>
			</li>
			{% endfor %}
			</ol>
			</dd>
			{% endif %}
		</dl>
		<button class='btn btn-primary' id='editnode' onclick='editnode();'>Edit</button>
		<button class='btn btn-primary' id='adduser' onclick='userform();'>Add User</button>
	</div>
</div>
{% else %}
<h1>No node selected</h1>
{% endif %}
