{% extends "layout.html" %}
{% block endhead %}
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/js/jstree/themes/default/jstreestyle.min.css') }}'>
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/plugins/jquery-ui-1.12.1/jquery-ui.min.css') }}'>
	<link rel='stylesheet' href='{{ app.url_for('static',filename='/js/jspanel/jquery.jspanel.min.css') }}'>
{% endblock %}
{% block content %}
<div class="modal fade" id="nodeform" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nodeformtitle">Add Node</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='nodeformsubmit'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<h1>Tree</h1>
<h2>{{ tree.title }}</h2>
<div id='treediv'>
</div>
<div id='infopanel'></div>
{% endblock %}
{% block endbody %}
	<script src='{{ app.url_for('static', filename='/js/jstree/jstree.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/plugins/jquery-ui-1.12.1/jquery-ui.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/plugins/jquery-ui-1.12.1/jquery.ui.touch-punch.min.js')}}'></script>
	<script src='{{ app.url_for('static', filename='/js/jspanel/jquery.jspanel.min.js')}}'></script>
	<script>
	$("#treediv").jstree({
		"core" : {
			// so that create works
			"check_callback" : true,
			"data" : {
				"url": function (node) {
					var nodeId = "";
					var url = ""
					if (node == -1) {
						url = "{{ app.url_for('trees.nodejson',slug=tree.slug) }}";
					}
					else {
						nodeId = node.id;
						if(node.data){
							nodeId = node.data.dbid;
						}
						url = "{{ app.url_for('trees.nodejson',slug=tree.slug) }}/" + nodeId;
					}
					return url;
				},
				"data": function (node) {
					if(node.data){
						return { 'id' : node.data.dbid };
					}
					else{ 
						return { 'id' : node.id };
					}
				}
			}
		},
		"plugins" : [ "contextmenu" ],
	});

	$('#nodeformsubmit').on('click',function(){
		var curnode = $('#treediv').jstree(true).get_node($('#nodeform').data('current_id'));
		curnode.data = { 'dbid':'10' };
		var formdata = $('#nodeform form').serialize();
		$.ajax({
			'url': $('#nodeform').data('targeturl'),
			'dataType':'json',
			'method':'POST',
			'data':formdata,
		}).done(function(data){
			$('#treediv').jstree(true).rename_node(curnode,data[0].title);
			curnode.data.dbid=data[0].id;
			var dbid = data[0].id;
			$('#panelcontent').data('node_id',data[0].id);
			$.ajax({
				'url': "{{ app.url_for('trees.nodeview') }}/" + data[0].id,
				'dataType':'html'
			}).done(function(data){
				$('#panelcontent').data('node_id',dbid);
				$('#panelcontent').html(data);
			});
			$('#nodeform').modal('hide');
		});
	});

	function editnode(){
		$('#nodeform').data('targeturl',"{{ app.url_for('trees.editnode') }}/" + $('#panelcontent').data('node_id'));
		$.ajax({
			'url': "{{ app.url_for('trees.editnode') }}/" + $('#panelcontent').data('node_id'),
			'dataType':'html'
		}).done(function(data){
			// data.node.data.dbid = data.id;
			$('#nodeform .modal-body').html(data);
			$('#nodeform #nodeformtitle').html('Edit Node');
			$('#nodeform').modal('show');
		});
	}

	function userform(user_id=null){
		var targeturl = "{{ app.url_for('trees.nodeuserform') }}/" + $('#panelcontent').data('node_id');
		if(user_id){
			targeturl += "/" + user_id;
		}
		$('#nodeform').data('targeturl',targeturl);
		$.ajax({
			'url': targeturl,
			'dataType':'html'
		}).done(function(data){
			// data.node.data.dbid = data.id;
			$('#nodeform .modal-body').html(data);
			$('#nodeform #nodeformtitle').html('Add User');
			$('#nodeform').modal('show');
		});
	}

	$('#treediv').on('create_node.jstree',function(e,data){
		var parentnode = $('#treediv').jstree(true).get_node(data.parent);
		$('#nodeform').data('parent_id',data.parent);
		$('#nodeform').data('current_id',data.node.id);
		$('#nodeform').data('targeturl',"{{ app.url_for('trees.addnode') }}/" + parentnode.data.dbid);
		$.ajax({
			'url': "{{ app.url_for('trees.addnode') }}/" + parentnode.data.dbid,
			'dataType':'html'
		}).done(function(data){
			// data.node.data.dbid = data.id;
			$('#nodeform .modal-body').html(data);
			$('#nodeform #nodeformtitle').html('Add New Node');
			$('#nodeform').modal('show');
		});
	});
	$('#treediv').on('rename_node.jstree',function(e,data){
		if(data.old!=data.text){
			$.ajax({
				'url': "{{ app.url_for('trees.renamenode') }}/" + data.node.data.dbid,
				'method':'POST',
				'data': { title: data.text },
				'dataType':'json'
			}).done(function(data){
				// data.node.data.dbid = data.id;
			});
		}
	});
	$('#treediv').on('delete_node.jstree',function(e,data){
		$.ajax({
			'url': "{{ app.url_for('trees.deletenode') }}/" + data.node.data.dbid,
			'method':'POST',
			'dataType':'json'
		}).done(function(data){
			// data.node.data.dbid = data.id;
		});
	});
	$('#treediv').on('paste.jstree',function(e,data){
		var parentnode = $('#treediv').jstree(true).get_node(data.parent);
		$.ajax({
			'url': "{{ app.url_for('trees.pastenode') }}/" + parentnode.data.dbid + "/" + data.mode,
			'data': { node: data.node },
			'method':'POST',
			'dataType':'json'
		}).done(function(data){
			// data.node.data.dbid = data.id;
		});
	});

	$('#treediv').on('select_node.jstree',function(e,data){
		var dbid = data.node.data.dbid;
		$('#nodeform').data('current_id',data.node.id);
		$.ajax({
			'url': "{{ app.url_for('trees.nodeview') }}/" + data.node.data.dbid,
			'dataType':'html'
		}).done(function(data){
			$('#panelcontent').data('node_id',dbid);
			$('#panelcontent').html(data);
		});
	});

	var dpanel = $.jsPanel({
		container: ".container",
		draggable: {
			handle: 'div.jsPanel-hdr, div.jsPanel-ftr',
			opacity: 0.8
		},
		position: {
			my: "right-top",
			at: "right-top",
			offsetY: "100px",
			offsetX: "400px"
		},
		contentOverflow: 'scroll',
		contentSize: {
			width:  600,
			height: 350
		},
		content: "<div id='panelcontent'></div>",
		contentAjax: {
			url: "{{ app.url_for('trees.nodeview') }}",
			done: function (data, textStatus, jqXHR, panel) {
				// the keyword "this" inside the function refers to the panel
				$('#panelcontent').html(jqXHR.responseText);
			},
			fail: function (jqXHR, textStatus, errorThrown, panel) {
				//the keyword "this" inside the function refers to the panel
			}
		},
		headerTitle: "Node Details",
		theme: "rebeccapurple",
		callback: function (panel) {
			// do whatever you like
			// the keyword "this" inside the callback function refers to the panel
		}
	});
	</script>
{% endblock %}
