{% extends "formbase.html" %}
{% from 'trackers/macros.html' import transitionformjs, transitionform, transitiondisplay with context %}
{% block content %}
{% if record %}
<h1>Edit {{ tracker.title }}</h1>
{% else %}
<h1>Add {{ tracker.title }}</h1>
{% endif %}
{% if transition %}
{% if record %}
{{ transitiondisplay(transition,record) }}
{{ transitionform(transition,record) }}
{% else %}
{{ transitionform(transition) }}
{% endif %}
{% endif %}
{% endblock %}
{% block form_js %}
{{ super() }}
{% if record %}
{{ transitionformjs(transition,record) }}
{% else %}
{{ transitionformjs(transition) }}
{% endif %}
{% endblock %}
