{% macro transitiondisplay(transition,record=None) -%}
<dl>
{% for field in transition.display_fields_list() %}
<dt>{{ field.label }}</dt>
<dd>{{ field.disp_value(record[field.name],request) }}</dd>
{% endfor %}
</dl>
{% endmacro %}

{% macro transitionform(transition,record=None) -%}
<form method='POST' id='trackerform' enctype='multipart/form-data'>
	<input type='hidden' name='transition_id' value='{{transition.id}}'/>
	{% if record %}
	<input type='hidden' name='id' value='{{record['id']}}'/>
	{% endif %}
	{% set ns = namespace(displayed=false,gotlocation=false,gotmap=false) %}
{% for field in transition.edit_fields_list() %}
{% if field.default %}
<input type='hidden' name='{{field.name}}' value='systemdefault'>
{% elif field.field_type in ['location','map'] %}
	{% if field.field_type == 'map' %}
	<label class="col-sm-2 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
	{% endif %}

	{{ fieldform(field,record) }}
	{% set ns.gotlocation = true %}
{% else %}
{% set ns.displayed = true %}
<div class="form-group row" id="div_{{field.name}}">
	<label class="col-sm-2 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
	{{ fieldform(field,record) }}
</div>
{% endif %}
{% endfor %}
<input type='submit' value='Submit' class='btn btn-primary'>
</form>
{% if not ns.displayed or ns.gotlocation %}

	{% block js scoped %}
	{% if ns.gotlocation %}
		<script>
		{% for field in transition.edit_fields_list() %}
			{% if field.field_type=='map' %}
			{% set ns.gotmap = true %}
			var {{field.name}}_map,{{field.name}}_marker;
			function init_{{field.name}}_map(){
				{% if record[field.name] %}
					{% set rparts = record[field.name].split(',') %}
				{% else %}
					{% set rparts = [3.0087887,101.7037683] %}
				{% endif %}
				{{field.name}}_map = new google.maps.Map(document.getElementById('{{field.name}}_div'), { center: {lat:{{ rparts[0] }},lng:{{ rparts[1] }}}, zoom: 13});
				{{field.name}}_marker = new google.maps.Marker({ position: {lat:{{ rparts[0] }},lng:{{ rparts[1] }}}, map: {{field.name}}_map}); 
			{{field.name}}_marker.setDraggable(true);
			google.maps.event.addListener({{field.name}}_marker,'dragend',function(marker){
				var latLng = marker.latLng;
				$('#{{field.name}}').val(latLng.lat() + "," + latLng.lng());
			});
			}
			{% endif %}
		{% endfor %}
			function getLocation() {
				if(navigator.geolocation){
					navigator.geolocation.getCurrentPosition(updateLocFields,showGpsError);
				}
				else {
					{% for field in transition.edit_fields_list() %}
						{% if field.field_type=='location' %}
					$('#{{field.name}}').val('Error: Browser does not support location');
						{% endif %}
					{% endfor %}
				}
			}
			function updateLocFields(position){
		{% for field in transition.edit_fields_list() %}
			{% if field.field_type in ['location','map'] %}
				$('#{{field.name}}').val(position.coords.latitude + ',' + position.coords.longitude);
				{% if field.field_type == 'map' and not record[field.name] %}
				var mposition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				{{ field.name }}_marker.setPosition(mposition);
				{% endif %}
			{% endif %}
		{% endfor %}
			}

			function showGpsError(error) {
				switch(error.code) {
					case error.PERMISSION_DENIED:
					{% for field in transition.edit_fields_list() %}
						{% if field.field_type=='location' %}
						$('#{{field.name}}').val("Error: User denied the request for Geolocation");
						{% endif %}
					{% endfor %}
					break;
					case error.POSITION_UNAVAILABLE:
					{% for field in transition.edit_fields_list() %}
						{% if field.field_type=='location' %}
						$('#{{field.name}}').val("Error: Location information is unavailable");
						{% endif %}
					{% endfor %}
					break;
					case error.TIMEOUT:
					{% for field in transition.edit_fields_list() %}
						{% if field.field_type=='location' %}
						$('#{{field.name}}').val("Error: The request to get user location timed out");
						{% endif %}
					{% endfor %}
					break;
					case error.UNKNOWN_ERROR:
					{% for field in transition.edit_fields_list() %}
						{% if field.field_type=='location' %}
						$('#{{field.name}}').val("Error: An unknown error occurred");
						{% endif %}
					{% endfor %}
					break;
				}
			}

			getLocation();
			
			{% if ns.gotmap %}
			function init_maps() {
			{% for field in transition.edit_fields_list() %}
				{% if field.field_type=='map' %}
				init_{{field.name}}_map();
				{% endif %}
			{% endfor %}
			}
			{% endif %}
		</script>
		{% if ns.gotmap %}
			<script src='https://maps.googleapis.com/maps/api/js?key={{ app.config.GOOGLE_MAPS_API }}&callback=init_maps' async defer></script>
		{% endif %}
	{% endif %}

	{% if not ns.displayed %}
	<script>window.onload = function() { $('#trackerform').submit(); }</script>
	{% endif %}

	{% endblock %}

{% endif %}

{%- endmacro %}

{% macro fieldform(field,record=None,prependname='') -%}
	{% if field.field_type in ['string','integer','number','user','object','date','datetime'] %}
		{% if field.widget=='dropdown' and field.disp_options %}
		<select class="col-sm-10 form-control" name="{{ prependname }}{{ field.name }}">
			{% for option in field.disp_options() %}
			<option value='{{option}}' {% if record and record[field.name]==option %}selected{% endif %}>{{ option }}</option>
			{% endfor %}
		</select>
		{% else %}
		<input class="col-sm-10 form-control {% if field.field_type=='date' %}date-picker{% endif %} {% if field.field_type=='datetime' %}datetimepicker{% endif %}" id="{{ prependname }}{{ field.name }}" name="{{ prependname}}{{ field.name }}" {% if record %}{% if not field.field_type in ['integer','number','user','object'] or record[field.name] %}value="{{record[field.name]}}"{% endif %}{% endif %} type="text">
		{% endif %}
	{% elif field.field_type=='file' %}
	<input class="col-sm-10 form-control" id="{{ prependname }}{{ field.name }}" name="{{ prependname}}{{ field.name }}" value="{% if record %}{{record[field.name]}}{% endif %}" type="file">
	{% elif field.field_type=='picture' %}
	<input class="col-sm-10 form-control" id="{{ prependname }}{{ field.name }}" name="{{ prependname}}{{ field.name }}" value="{% if record %}{{record[field.name]}}{% endif %}" type="file" accept="image/*" capture="capture">
	{% elif field.field_type=='video' %}
	<input class="col-sm-10 form-control" id="{{ prependname }}{{ field.name }}" name="{{ prependname}}{{ field.name }}" value="{% if record %}{{record[field.name]}}{% endif %}" type="file" accpet="video/*" capture="capture">
	{% elif field.field_type=='text' %}
	<textarea class="col-sm-10 form-control" id="{{ prependname}}{{ field.name }}" name="{{ prependname}}{{ field.name }}">{% if record %}{% if record[field.name] %}{{record[field.name]}}{% endif %}{% endif %}</textarea>
	{% elif field.field_type=='location' %}
	<input class="col-sm-10 form-control" id="{{ prependname }}{{ field.name }}" name="{{ prependname}}{{ field.name }}" value="{% if record %}{{record[field.name]}}{% endif %}" type="hidden">
	{% elif field.field_type=='map' %}
	<input class="col-sm-10 form-control" id="{{ prependname }}{{ field.name }}" name="{{ prependname}}{{ field.name }}" value="{% if record %}{{record[field.name]}}{% endif %}" type="hidden">
	<div id='{{ prependname }}{{ field.name }}_div' style='height: 400px'></div>
	{% elif field.field_type=='boolean' %}
	<input class="col-sm-10 form-control" id="{{ prependname }}{{ field.name }}" name="{{ prependname }}{{ field.name }}" {% if record %}{% if record[field.name] %}checked{% endif %}{% endif %} type="checkbox">
	{% elif field.field_type=='hasMany' %}
	{% set ff = field.load_foreign_fields() %}
	<div class='col-sm-10'>
	<table class='table'>
		<tr>
			{% for col in field.foreignfields %}
			<th>{{ col.label }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for col in field.foreignfields %}
			<td>{{ fieldform(col,prependname=field.name + '.') }}</td>
			{% endfor %}
		</tr>

	</table>
	</div>
	{% endif %}
{%- endmacro %}

{% macro listform(tracker) -%}
	{% set ns = namespace(gotform=false) %}
<form class='form-horizontal' method='get'>
    {% if tracker.search_fields %}
    {% set ns.gotform = true %}
    <div class='form-group row'>
    <label class='col-sm-2 col-form-label'>Search:</label>
    <div class='col-sm-10'>
    <input class='form-control' type='text' name='plq' id='plq' value='{% if request.args['plq'] %}{{ request.args['plq'][0] }}{% endif %}'/>
    </div>
    </div>
    {% endif %}
    {% for field in tracker.fields_from_list(tracker.filter_fields) %}
    {% set ns.gotform = true %}
    <div class='form-group row'>
    <label class='col-sm-2 col-form-label'>{{field.label}}:</label>
    <div class='col-sm-10'>
    <select class='form-control' name='filter_{{field.name}}' id='filter_{{field.name}}'>
        <option value='plall' {% if 'filter_'+field.name in request.args and request.args['filter_'+field.name][0]=='plall' %}selected{% endif %}>All</option>
        {% for option in field.filter_options() %}
        <option value='{{option.val}}' {% if 'filter_'+field.name in request.args and request.args['filter_'+field.name][0]==option.val|string %}selected{% endif %}>
	{% if option.label %}
	{{ option.label }}
	{% else %}
	{{option.val}}
	{% endif %}
	</option>
        {% endfor %}
    </select>
    </div>
    </div>
    {% endfor %}
    {% if ns.gotform %}
    <input type='submit' value='Search'/>
    {% endif %}
</form>
{%- endmacro %}

{% macro recordslist(tracker,curuser,curindex=None,links=None) -%}
{% if not links %}
{% set curindex,links = tracker.pagelinks(curuser=curuser,request=request) %}
{% endif %}
{% set list_fields = tracker.list_fields_list() %}
<table class='table'>
	<tr>
		<th>#</th>
		{% if list_fields %}
		{% for field in list_fields %}
		<th>{{field.label}}</th>
		{% endfor %}
		{% endif %}
	</tr>
	{% for record in tracker.records(curuser=curuser,request=request,offset=(request.args['plo'][0] if 'plo' in request.args else 0),limit=(request.args['pll'][0] if 'pll' in request.args else tracker.pagelimit if tracker.pagelimit else 10)) %}
	<tr>
		<td><a href='{{ app.url_for('trackers.viewdetail',id=record.id,module=tracker.module,slug=tracker.slug) }}'>{{loop.index + (curindex*(tracker.pagelimit if tracker.pagelimit else 10)) }}</a></td>
		{% if list_fields %}
		{% for field in list_fields %}
		<td>
		{{ field.disp_value(record[field.name],request) }}
		</td>
		{% endfor %}
		{% endif %}
	</tr>
	{% endfor %}
</table>
{%- endmacro %}

{% macro recordspage(tracker,curuser,curindex=None,links=None) -%}
{% if not links %}
{% set curindex,links = tracker.pagelinks(curuser=curuser,request=request) %}
{% endif %}
{% if links %}
<ul class='pagination'>
    <li class="page-item {% if not links[curindex].prevlink %}disabled{% endif %}">
        <a class="page-link" href="{{ links[curindex].prevlink }}" tabindex="-1">Previous</a>
    </li>

    {% if links|length > 11 %}
    {% set startindex=0 %}
    {% set endindex=links|length %}
    {% if curindex>5 %}
    {% set startindex=curindex-4 %}
<li class='page-item {% if links[0]==curlink %}active{% endif %}'><a href='{{ links[0].url }}' class="page-link">1</a></li>
<li class='page-item disabled'><span class='page-link'>...</span></li>
    {% endif %}
    {% if curindex<links|length-6 %}
       {% set endindex=curindex+5 %}
    {% endif %}

{% for link in links[startindex:endindex] %}
<li class='page-item {% if loop.index0 + startindex==curindex %}active{% endif %}'><a href='{{ link.url }}' class="page-link">{{ loop.index + startindex }}</a></li>
{% endfor %}


    {% if curindex<links|length-6 %}
    <li class='page-item disabled'><span class='page-link'>...</span></li>
<li class='page-item {% if links[links|length-1]==curlink %}active{% endif %}'><a href='{{ links[links|length-1].url }}' class="page-link">{{ links|length }}</a></li>
    {% endif %}
{% else %}

{% for link in links %}
<li class='page-item {% if loop.index0==curindex %}active{% endif %}'><a href='{{ link.url }}' class="page-link">{{ loop.index }}</a></li>
{% endfor %}

    {% endif %}

    <li class="page-item {% if not links[curindex].nextlink %}disabled{% endif %}">
        <a class="page-link" href="{{ links[curindex].nextlink }}" tabindex="-1">Next</a>
    </li>
</ul>
{% endif %}
{%- endmacro %}

{% macro displayrecord(tracker,record) -%}
<dl>
{% set ns = namespace(gotlocation=false) %}
{% for field in tracker.display_fields_list(record) %}
	{% if field.field_type in ['location','map'] %}
		{% set ns.gotlocation = true %}
	{% endif %}
<dt>{{ field.label }}</dt>
<dd>{{ field.disp_value(record[field.name],request) }}</dd>
{% endfor %}
</dl>
{% if ns.gotlocation %}
	<script>
		function init_maps(){
		{% for field in tracker.display_fields_list(record) %}
			{% if field.field_type in ['location','map'] %}
				{% if record[field.name] and (record[field.name].split(','))|length>1 %}
				init_{{field.name}}_map();
				{% endif %}
			{% endif %}
		{% endfor %}
		}
	</script>
<script src='https://maps.googleapis.com/maps/api/js?key={{app.config.GOOGLE_MAPS_API}}&callback=init_maps' async defer></script>
{% endif %}
{%- endmacro %}

{% macro transitionbuttons(tracker,record, curuser) -%}
{% for transition in tracker.activetransitions(record,curuser,request) %}
<a href='{{ app.url_for('trackers.editrecord',record_id=record['id'],transition_id=transition.id,module=tracker.module,slug=tracker.slug) }}' class='btn btn-primary'>
{{ transition.name }}
</a>
{% endfor %}
{%- endmacro %}

{% macro updatetrail(tracker,record,curuser) -%}
<h2>Updates</h2>
<table class='table'>
    <tr><th>Date</th><th>Description</th><th>Updated By</th></tr>
    {% for update in tracker.recordupdates(record,curuser) %}
    <tr>
        <td>
            {{ update.update_date.strftime('%Y-%m-%d %H:%M') }}
        </td>
        <td>
            {{ update.description }}
        </td>
        <td>
            {{ curuser.getuser(update.user_id).name }}
        </td>
    </tr>
    {% endfor %}
</table>
{%- endmacro %}
