{% macro sidemenunode(node) %}
<li>
	{% if node.children %}
	<a href='#toggle{{node.id}}' data-toggle='collapse' class='collapse-toggle' aria-expanded='false'>
		{% if 'icon' in node.data %}
		<span class="fa {{ node.data['icon'] }}"></span>
		{% endif %}
		<span class="mtext">{{ node.title }}</span>
	</a>
	<ul id='toggle{{node.id}}' class='collapse list-unstyled'>
		{% for cnode in node.children %}
		{{ sidemenunode(cnode) }}
		{% endfor %}
	</ul>
	{% else %}
	<a href='{% if node.node_type=='page' %}{{ app.url_for('pages.view',module=node.module,slug=node.slug) }}{% elif node.node_type=='file' %}{{ app.url_for('fileLinks.download',module=node.module,slug=node.slug) }}{% elif node.node_type=='tracker' %}{{ app.url_for('trackers.viewlist',module=node.module,slug=node.slug) }}{% endif %}' class='no-arrow'>
		{% if 'icon' in node.data %}
		<span class="fa {{ node.data['icon'] }}"></span>
		{% endif %}
		<span class="mtext">{{ node.title }}</span>
	</a>
	{% endif %}
</li>
{% endmacro %}

{% macro topmenunode(node,isdropdown=False) %}
	{% if node.children %}
	<li class='{% if isdropdown %}dropdown-item{% else %}nav-item{% endif %} dropdown'>
	<a id='toggle{{node.id}}' href='#' class='nav-link dropdown-toggle'>
		{% if 'icon' in node.data %}
		<span class="fa {{ node.data['icon'] }}"></span>
		{% endif %}
		<span class="mtext">{{ node.title }}</span>
	</a>
	<ul class='dropdown-menu'>
		{% for cnode in node.children %}
		{{ topmenunode(cnode,True) }}
		{% endfor %}
	</ul>
	{% else %}
	<li class='{% if isdropdown %}dropdown-item{% else %}nav-item{% endif %}'>
	<a href='{% if node.node_type=='page' %}{{ app.url_for('pages.view',module=node.module,slug=node.slug) }}{% elif node.node_type=='file' %}{{ app.url_for('fileLinks.download',module=node.module,slug=node.slug) }}{% elif node.node_type=='tracker' %}{{ app.url_for('trackers.viewlist',module=node.module,slug=node.slug) }}{% endif %}' class='nav-link'>
		{% if 'icon' in node.data %}
		<span class="fa {{ node.data['icon'] }}"></span>
		{% endif %}
		<span class="mtext">{{ node.title }}</span>
	</a>
	{% endif %}
</li>
{% endmacro %}

{% macro topmenu(module=None,slug=None) %}
{% set portaltree = app.dbsession.query(app.trees.Tree).filter_by(module=module if module else 'portal',slug=slug if slug else 'site').first() %}
{% set menus = app.dbsession.query(app.trees.TreeNode).filter_by(tree=portaltree,slug='topmenu',module='portal').all() %}
{% if menus %}
{% for menu in menus %}
	{% for node in menu.children %}
		{{ topmenunode(node) }}
	{% endfor %}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro sidemenu(module=None,slug=None) %}
<ul class='list-unstyled'>
{% set portaltree = app.dbsession.query(app.trees.Tree).filter_by(module=module if module else 'portal',slug=slug if slug else 'site').first() %}
{% set menus = app.dbsession.query(app.trees.TreeNode).filter_by(tree=portaltree,slug='sidemenu',module='portal').all() %}
{% if menus %}
{% for menu in menus %}
	{% for node in menu.children %}
		{{ sidemenunode(node) }}
	{% endfor %}
{% endfor %}
{% endif %}
</ul>
{% endmacro %}

{% macro adminmenu() %}
	<li>
	<a href='#toggleadmin' data-toggle='collapse' class='collapse-toggle' aria-expanded='false'>
		<span class="fa fa-toolbox"></span>
		<span class="mtext">Admin</span>
	</a>
	<ul id='toggleadmin' class='collapse list-unstyled {% if request.path.split('/')[1] in ['users','module_roles','settings','modules','pages','trees','files','trackers'] %}show{% endif %}'>
	{% if curuser.superuser %}
	<li>
		<a href='{{ app.url_for('users.index') }}' class="no-arrow">
			<span class="fa fa-users"></span>
			<span class="mtext">Users</span>
		</a>
	</li>
	{% endif %}
	<li>
		<a href='{{ app.url_for('users.module_roles') }}' class="no-arrow">
			<span class="fa fa-address-card"></span>
			<span class="mtext">Roles</span>
		</a>
	</li>
	<li>
		<a href='{{ app.url_for('settings.index') }}' class="no-arrow active">
			<span class="fa fa-cog"></span>
			<span class="mtext">Settings</span>
		</a>
	</li>
	<li>
		<a href='{{ app.url_for('modules.index') }}' class="no-arrow">
			<span class="fa fa-book"></span>
			<span class="mtext">Modules</span>
		</a>
	</li>
	<li>
		<a href='{{ app.url_for('pages.index') }}' class="no-arrow">
			<span class="fa fa-file"></span>
			<span class="mtext">Pages</span>
		</a>
	</li>
	<li>
		<a href='{{ app.url_for('trees.index') }}' class="no-arrow">
			<span class="fa fa-sitemap"></span>
			<span class="mtext">Trees</span>
		</a>
	</li>
	<li>
		<a href='{{ app.url_for('fileLinks.index') }}' class="no-arrow">
			<span class="fa fa-upload"></span>
			<span class="mtext">Files</span>
		</a>
	</li>
	<li>
		<a href='{{ app.url_for('trackers.index') }}' class="no-arrow">
			<span class="fa fa-cogs"></span>
			<span class="mtext">Trackers</span>
		</a>
	</li>
	</ul>
	</li>
{% endmacro %}
