{% extends "layout.html" %}
{% block content %}
{% if title %}
	<h1>
	{{ title }}
	</h1>
{% endif %}
{% if filter_fields %}
<form method='GET'>
<div class='row'>
<label class='col-sm-2' for='search'>Search:</label>
<input class='col-sm-6' type='text' value='{% if request.args.get('q') %}{{ request.args.get('q') }}{% endif %}' name='q'/>
<button class='col-sm-2' type='submit'>Search</button>
</div>
{% for ffield in filter_fields %}
<div class='row'>
<label class='col-sm-2' for='{{ffield.field}}'>{{ffield.label}}:</label>
<select class='col-sm-6 filter_field' onchange='submit();' name='{{ffield.field}}_filter'>
	<option value='all' {% if not request.args.get(ffield.field + '_filter') or request.args.get(ffield.field + '_filter')=='all' %}selected{% endif %}>All</option>
	{% for foption in ffield.options %}
	<option value='{{foption}}' {% if request.args.get(ffield.field + '_filter') and request.args.get(ffield.field + '_filter')==foption %}selected{% endif %}>{{foption}}</option>
	{% endfor %}
</select>
</div>
{% endfor %}
</form>
{% endif %}
{% if addlink %}
<a href='{{ app.url_for(addlink) }}' class='btn btn-primary'>{% if addtitle %}{{addtitle}}{% else %}Add{% endif %}</a>
{% endif %}
<table class='table'>
	<tr>
		<th>No.</th>
		{% for field in fields %}
		<th>{{ field.label }}</th>
		{% endfor %}
		{% if deletelink %}
		<th>Action</th>
		{% endif %}
	</tr>
	{% for item in curpage.object_list %}
	<tr>
		<td>
			{% if editlink %}
			<a href="{{ app.url_for(editlink) }}/{{item.id}}">{{ loop.index }}</a>
			{% else %}
			{{ loop.index }}
			{% endif %}
		</td>
		{% for field in fields %}
		{% if field.name=='title' %}
		<td>
			<a href='{{ app.url_for('trees.view',module=['module'],slug=item['slug']) }}'>
			{{ item['title'] }}
			</a>
		</td>
		{% else %}
		<td>
			{% if maxlength %}
				{% if item[field.name] and item[field.name]|string|length < maxlength %}
					{{ item[field.name] }}
				{% else %}
					{{ item[field.name]|string|replace(',',', ')|wordwrap(maxlength) }}
				{% endif %}
			{% else %}
				{{ item[field.name] }}
			{% endif %}
		</td>
		{% endif %}
		{% endfor %}
		{% if deletelink %}
		<td>
			<form style='display: inline;' method='post' action='{{ app.url_for(deletelink, id=item.id) }}' onsubmit='return confirm("Delete {{ item }} ?");'><input type='submit' class="btn btn-primary" value='Delete' ></form>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<ul class="pagination">
	{% if curpage.has_previous() %}
    <li class="page-item">
	    <a class="page-link" href="{{ request.path }}?page={{curpage.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for cpage in paginator %}
    <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{cpage.number}}">{{cpage.number}}</a></li>
    {% endfor %}
	{% if curpage.has_next() %}
    <li class="page-item">
	    <a class="page-link" href="{{ request.path }}?page={{curpage.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
{% endblock %}
