{% extends "formbase.html" %}
{% block form_css %}
{{ super() }}
    <style type="text/css" media="screen">
    .editorwrap {
	position: relative;
	height: 200px;
    }
    .editorwrap .aceeditor { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    }
</style>
{% endblock %}
{% block content %}
<h1>
	{% if title %}
	{{ title }}
	{% else %}
	Form
	{% endif %}
</h1>
<form method='POST' class='dataform' {% if enctype %}enctype='{{enctype}}'{% endif %}>
{% for field in form %}
<div class='form-group row'>
	{{ field.label(class_='col-sm-2 col-form-label') }}
{% if field.type=='BooleanField' %}
<div class="{{'col-sm-10 is-invalid' if field.errors else 'col-sm-10'}}">
	{{ field() }}
</div>
{% elif field.type=='DateField' %}
	{{ field(class_='col-sm-10 form-control is-invalid date-picker' if field.errors else 'col-sm-10 form-control date-picker') }}
{% elif acefield and field.name in acefield %}
<div class='col-sm-10 editorwrap'>
	<div id='{{field.name}}editor' class='form-control aceeditor'>{% if field.data %}{{ field.data|e }}{% endif %}</div>
</div>
<input type='hidden' name='{{field.name}}' id='{{field.name}}'>
{% else %}
	{{ field(class_='col-sm-10 form-control is-invalid' if field.errors else 'col-sm-10 form-control') }}
{% endif %}
	{% if field.errors %}
	{% for error in field.errors %}
	<div class='offset-sm-2 invalid-feedback'>{{ error }}</div>
	{% endfor %}
	{% endif %}
</div>
{% endfor %}
<input type='submit' name='submit' value='Submit'/>
{% if submitcontinue %}
<input type='submit' name='submit' value='Update'/>
{% endif %}
</form>
{% if info %}
{{ info }}
{% endif %}
{% endblock %}
{% block form_js %}
{{ super() }}
	<script type='text/javascript'>
		$(document).ready(function(){
			{% if 'user' in form %}
			$('input#user').tokenInput('{{ app.url_for('users.userjson') }}',{tokenLimit:1{% if userdata %},prePopulate:[{id:{{ userdata.id }},name:"{{ userdata.name }}"}]{% endif %}});
			{% endif %}
			{% if 'module' in form and modules and curuser and not curuser.superuser %}
			$('input#module').tokenInput([{% for module in modules %}{id:'{{module}}',name:'{{module}}'},{% endfor %}],{tokenLimit:1{% if form.module.data %},prePopulate:[{id:'{{form.module.data}}',name:'{{form.module.data}}'}]{% endif %}});
			{% endif %}
			{% if tokeninput %}
			{% for key,input in tokeninput.items() %}
			$('input#{{key}}').tokenInput('{{ input.url }}',{ {% if input.prePopulate %}prePopulate:[{% for data in input.prePopulate %}{id:{{ data.id }},name:"{{ data.name }}"},{% endfor %}]{% endif %}});
			{% endfor %}
			{% endif %}
		});

	{% if acefield %}
		function IsJsonString(str) {
		    try {
			JSON.parse(str);
		    } catch (e) {
			return false;
		    }
		    return true;
		}

		$(document).ready(function(){
			{% for afield in acefield %}
			var {{afield}}editor = ace.edit("{{afield}}editor");
			{{afield}}editor.setTheme("ace/theme/xcode");
			{{afield}}editor.setOption("maxLines",1000);
			{% if acetype and afield in acetype %}
			{{afield}}editor.session.setMode("ace/mode/{{acetype[afield]}}");
			{{afield}}editor.getSession().on('change', function() {
				{% if acetype[afield]=='json' %}
				if(IsJsonString({{afield}}editor.getValue())){
					$('#{{afield}}').val({{afield}}editor.getValue());
				}
				{% else %}
					$('#{{afield}}').val({{afield}}editor.getValue());
				{% endif %}
			});
			{% endif %}
			{% endfor %}
			$('.editorwrap').resizable({
				resize: function(event, ui){
					{% for afield in acefield %}
					{{afield}}editor.resize();
					{% endfor %}
				}
			});
		});

	{% endif %}
	$('.dataform').on('submit', function() {
	{% if acefield %}
			{% for afield in acefield %}
				var {{afield}}editor = ace.edit("{{afield}}editor");
				{% if acetype[afield]=='json' %}
				if(IsJsonString({{afield}}editor.getValue())){
					$('#{{afield}}').val({{afield}}editor.getValue());
				}
				{% else %}
					$('#{{afield}}').val({{afield}}editor.getValue());
				{% endif %}
			{% endfor %}
	{% endif %}
	});
	</script>
{% endblock %}
